body{
    background-color: #8a7f80;
}

.container{
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.info{
    padding-right: 330px;
    font-size: 1.6em;
}
.stats{
    font-size: 1.4em
}

.par{
    display: flex
}